/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), serif;
  font-variation-settings: 'wght' var(--normal-font-weight), 'wdth' 100, 'opsz' 0;
  font-size: 18px;
  color: var(--accent-color);
  padding: 102px 0;

  background-color: var(--bg-color);
  background-size: cover;
  background-image: var(--gradient-bg);

  background-attachment: fixed;
}

.content__block {
  width: var(--content-width);
  margin: 0 auto;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.header {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(6.667rem, 6.354rem + 1.502vw, 7.556rem);
  padding-bottom: 25px;
  gap: 20px;
}

.header__title {
  font-size: clamp(2.722rem, 2.409rem + 1.502vw, 3.611rem);
  text-decoration: none;
  pointer-events: none;
}

.header__description {
  font-size: clamp(0.778rem, 0.602rem + 0.845vw, 1.278rem);
}

.header__theme-menu {
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
  margin-left: 15px;
}

.theme-menu__button {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -16px;
  bottom: 1px;
  animation: shiftArrow 0.5s infinite ease-in-out alternate;
  font-size: 14px;
}

.main {
  margin-top: 100px;
}

.cards {

  display: flex;
  flex-direction: column;
  gap: 54px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px;
  line-height: 117%;
}

.card__title {
  border-bottom: 2px solid var(--accent-color);
  font-variation-settings: 'wght' var(--bold-font-weight), 'wdth' 100, 'opsz' 0;
  padding: 5px 10px;
}

.card__image__block {
  position: relative;
}

.card__content__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-bottom: 2px solid var(--accent-color);
}

.card__content__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 0 var(--bg-color), 1px -1px 0 var(--bg-color), -1px 1px 0 var(--bg-color), -1px -1px 0 var(--bg-color);
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .card__content__label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__actions {
  padding: 0 25px 25px 25px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 0.15em;
}

.button__like-icon {
  background-color: transparent;
  border: 0px solid var(--accent-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 0px solid var(--accent-color);
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

.button__like-icon:focus {
  outline: 0px solid var(--accent-color);
}

.button__like-icon:focus-visible {
  outline: 2px solid var(--accent-color);
}

.button__like-icon:hover .core {
  --fill-heart-color: var(--accent-color);
  opacity: 1;
  transition: opacity 0.3s linear;
}

.button__like-icon:hover .main-body {
  --fill-heart-color: var(--accent-color);
  opacity: 1;
  transition: opacity 0.3s 0.05s linear;
}

.button__like-icon:active .core {
  --fill-heart-color: #FF0000;
  opacity: 1;
  transition: fill 0.3s linear;
}

.button__like-icon:active .main-body {
  --fill-heart-color: #FF0000;
  opacity: 1;
  transition: fill 0.3s 0.05s linear;
}

.section__save {
  width: fit-content;
  margin: 50px auto 0 auto;
  color: var(--accent-color);
}

.button {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
  color: var(--btn-text-color);
  position: relative;
  box-shadow: 0px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color);
}

.button__img {
  width: 1.2rem;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::after {
  width: 100%;
}

.card__like-button {
  width: 126px;
  height: 40px;
}

.section__save-button {
  padding: 15px 20px;
}

.like-icon {
  width: 2rem;
}

.dialog {
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  padding: 2rem;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.dialog__img {
  stroke-width: 0.3;
}

.dialog__text {
  max-width: 234px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  margin-top: 30px;
  width: 100%;
  padding: 9px 0;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.filter-opacity {
  filter: opacity(70%);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-saturate {
  filter: saturate(170%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-mixed {
  filter: brightness(60%) saturate(260%) hue-rotate(45deg);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-grayscale {
  filter: grayscale(0.8);
}


@media (width <=375px) {
  .content__block {
    width: 100%;
  }

  .section__save-button {
    flex-direction: column;
  }

  .button__img {
    width: 1.6rem;
    position: relative;
    z-index: 1;
  }

  .card__content__label {
    right: 11px;
  }
}